@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-dm-serif);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  color: #09090b;
  -webkit-font-smoothing: antialiased;
}
